<%- include("header") -%>
    <div class="login-message-container">
        <img src="/images/azbank_logo.png" alt="">
        <h3>Change Password</h3>
    </div>

    <div class="login-container">
        <form id="password-form" action="/password" method="POST">
            <div class="login-username-password-container">
                <div>
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                </div>
                <div>
                    <label for="newPassword">New Password: </label>
                    <input type="password" class="form-control" name="newPassword" id="oldPassword">
                </div>
            </div>
            <div class="login-button-container">
                <input type="submit" class="btn btn-secondary btn-md download-button" value="Change Password">
            </div>
        </form>
    </div>
    <%- include("footer") -%>

        <script>
            const changePassword = async e => {
                e.preventDefault();
                console.log("___________________ \n\n");
                const oldPassword = document.getElementById('oldPassword').value;
                const newPassword = document.getElementById('newPassword').value;

                console.log(oldPassword, newPassword);

                const option = {
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: "POST",
                    mode: 'cors',
                    body: JSON.stringify({
                        oldPassword: "oldPassword",
                        newPassword: "newPassword"
                    }),
                    redirect: "follow"
                }
        }

    </script>