<%- include("header") -%>

  <div id="login-box">
    <h2>Registration</h2>
    <form action="/" method="POST">
        <label for="username">Type in your username here:</label>
        <input type="text" class="form-control" name="username" placeholder="username">
        <label for="password">Type in your password here:</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <!-- <button onClick="login(event)" class="btn btn-primary mb-3">Login</button> -->
        <input type="submit" value="Register" class="btn btn-primary">
    </form>
  </div>

  <!-- <script>
    const login = e =>{
        e.preventDefault();

        const email = document.getElementById('userEmail').value;
        const password = document.getElementById('userPassword').value;

        const option = {
            headers:{
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
                username: username,
                password: password
            }),
            redirect: "follow"
        }    
          
        // fetching data
        
            .then(res => res.redirected && ( location.href = res.url ))
            .catch(err => alert('Something happen wrong!'));
    }
  </script> -->

<%- include("footer") -%>