<%- include("header") -%>
  <div class="registration-message-container">
    <img src="/images/azbank_logo.png" alt="">
    <h3>Sign up to AZ Bank!</h3>
  </div>

  <div class="registration-container">
    <form action="/registration" method="POST">
      <div class="registration-details-container">
        <div class="registration-details-bio-container">
          <div>
            <p>Full Name</p>
            <input type="text" class="form-control registration-input" name="fullName" id="fullName">
          </div>
          <div>
            <p>Birth Date</p>
            <input type="date" class="form-control registration-input" name="birthDate" id="birthDate" min="1980-01-01"
              max="2021-12-31" style="width:300px">
          </div>
          <div>
            <p>Email</p>
            <input type="text" class="form-control registration-input" name="email" id="email">
          </div>
          <div>
            <p>Phone Numbers</p>
            <input type="text" class="form-control registration-input" name="phone" id="phone"
              placeholder="12345678, 87654321, ...">
            <!-- 52741755, 58212342, 51239567 terus diformat pake js buat dipisahin-->
          </div>
        </div>
        <div class="vertical-line-parent">
          <div class="vertical-line"></div>
        </div>
        <div class="registration-details-username-password-button-container">
          <div class="registration-details-username-password-container">
            <div>
              <p>Choose a Username</p>
              <input type="text" class="form-control registration-input" name="username" id="username" onkeyup="enableface(this)">
            </div>
            <div>
              <p>Choose a Password</p>
              <input type="password" class="form-control registration-input" name="password" id="password">
            </div>
          </div>
          <div class="registration-button-container">

            <input type="submit" class="btn btn-secondary btn-md download-button registration-button" id="submitbtn" value="Sign up" disabled>
            <button onclick="registerFace()" type="button" id="sidebarCollapse" class="btn btn-secondary" disabled>Set FaceID</button>
            <a href="/">I already have an account</a> <!-- redirect ke log in -->
            <!-- 
            <div class="already-have-an-account-container">
          </div> -->
          </div>
        </div>
    </form>
  </div>

  <script>
    console.log("reee");
    function enableface(userfield) {
      let facebutton = document.getElementById('sidebarCollapse');
      if (userfield.value != "") {
            //Enable the TextBox when TextBox has value.
            facebutton.disabled = false;
      } else {
          //Disable the TextBox when TextBox is empty.
          facebutton.disabled = true;
      }
    }
    
    const registerFace = e => {
      console.log("test");
      const username = document.getElementById('username').value;
      fetch(`/faceregister/?username=${username}`)
      .then( response => {
        console.log(response);
        document.getElementById('submitbtn').disabled = false;
      });
    }

    var sendAlert = "<%=alert%>";
    window.onload = () => {
      function checkAlert() {
        if (sendAlert == "True") {
          alert("Username is taken!");
        }
      }
      checkAlert();
    }
  </script>


  <%- include("footer") -%>