/* html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
} */
/* 
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
} */

input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
	color: grey;
	opacity: 1;
}

footer {
	color: white;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

body {
	background-color: rgb(224, 224, 224);
}

#login-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	padding: 20px 20px;
	background-color: rgb(240, 99, 99);
	border-radius: 20px;
}

#login-box label,
input {
	margin: 10px;
	display: block;
}

body {
	font-family: "Montserrat";
}

.header {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	padding: 1% 3%;
}

.transfer-icon {
	font-size: 100%;
}

h2,
h6 {
	margin: 0%;
	font-weight: bold;
}

hr {
	margin: 0% 3%;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.main {
	width: 100%;
	height: 100%;
	padding: 0% 3% 1% 3%;
}

.account-card {
	width: 250px;
	height: 150px;
	border-radius: 15px;
	margin-top: 1%;
	margin-right: 1%;
	border: 1px solid black;
	display: inline;
	padding: 1%;
}

.cards-container {
	display: flex;
	overflow-x: scroll;
	justify-content: space-between;
}

.accounts-section {
	margin-top: 2%;
}

.transactions-section {
	margin-top: 2%;
}

.transaction {
	width: 100%;
	height: 75px;
	border-radius: 15px;
	border: 1px solid black;
	margin-top: 1%;
	padding: 1%;
	display: flex;
	justify-content: space-between;
}

p {
	margin: 0%;
}

.account-balance {
	margin: 3.5% auto;
	font-size: 300%;
}

.account-number {
	font-size: 75%;
}

.transaction-name {
	font-size: 150%;
}

.transaction-date {
	font-size: 75%;
}

.transaction-amount {
	font-size: 175%;
}

.filter-section {
	width: 70%;
	margin: 2% auto 0%;
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 21%;
}

.filter-time {
	width: 13%;
}

.input-time-container {
	margin-top: 7.5%;
}

.input-amount-container {
	margin-top: 7.5%;
}

input {
	display: inline;
}

.filter-amount-display {
	margin: 0%;
	font-size: 75%;
	display: inline;
}

.personal-data-section {
	width: 100%;
	height: 300px;
	border-radius: 15px;
	border: 1px solid black;
	margin-top: 2%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.personal-detail {
	margin: 1% 0%;
}

.login-detail {
	margin: 1% 0%;
}

.login-data-section {
	width: 100%;
	height: 120px;
	border-radius: 15px;
	border: 1px solid black;
	margin-top: 2%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.short-hr {
	margin: 2% 30% 0%;
	/* width: 100%; */
}

.btn-change-password {
	display: block;
	margin: 2% auto;
}

.pay-section {
	width: 50%;
	height: 500px;
	border-radius: 15px;
	border: 1px solid black;
	margin: 2% auto;
	display: flex;
	flex-direction: column;
	padding: 1%;
	justify-content: space-between;
	text-align: center;
}

.pay-detail {
	margin: 5% auto;
	width: 45%;
	height: 50px;
}

.pay-detail label {
	float: left;
}

.pay-detail input {
	float: right;
}

.pay-detail select {
	float: right;
	width: 215px;
}

.btn-pay {
	width: 15%;
	margin: 2% auto;
	display: block;
}

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
}

/* sidebar nyontek */
#content {
	width: calc(100% - 250px);
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

#content.active {
	width: 100%;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386d5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

.sidebar-bottom {
	float: bottom;
}
